.home-background {
  position: relative;
  height: 88vh;
  overflow: hidden;
  width: 100%;
}

/* .home-background {
  position: relative;
  height: 88vh;
  overflow: hidden;
  width: 100%;
  padding: 40px 5%;
  box-sizing: border-box;
} */

.bg-image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

/* .bg-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 85%;
  width: 78%;
  object-fit: cover;
  border-radius: 30px;
  z-index: -1;
} */

.overlay-content {
  position: relative;
  z-index: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.slogan1 {
  font-family: "Varela Round", sans-serif;
  font-size: 60px;
  text-align: right;
  width: 600px;
  margin-left: 42%;
  color: #313e4b;
  margin-top: 15%;
  text-shadow: 2px 2px 4px rgba(111, 104, 104, 0.4);
}
.slogan2 {
  font-family: "Varela Round", sans-serif;
  font-weight: bold;
  font-size: 60px;
  text-align: right;
  color: #313e4b;
  text-shadow: 2px 2px 4px rgba(111, 104, 104, 0.4);
  width: 500px;
  margin-left: 42%;
}
.squares {
  width: 300px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-left: 185px;
  margin-bottom: 190px;
}
.square {
  width: 280px;
  height: 70px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: white;
  font-family: "Varela Round", sans-serif;
  box-shadow: 0 4px 12px rgba(36, 12, 252, 0.2);
  cursor: pointer;
  backdrop-filter: blur(8px);
  text-decoration: none;
}

.square:hover {
  transform: scale(1.05);
}

.square h3 {
  margin: 0;
  font-size: 30px;
  font-weight: bold;
  direction: rtl;
}

.icon {
  color: rgb(255, 255, 255);
}
