body,
html {
  font-family: "Varela Round", sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
}
.layout-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.main-header {
  height: 10%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: auto;
}
.logo {
  height: 100%;
  width: auto;
}

.app-container {
  display: flex;
  flex-direction: row-reverse;
  flex: 1;
  flex-wrap: wrap;
  width: 100vw; 
  margin: 0;
  min-height: 0;
  overflow-y: auto;
  box-sizing: border-box;
}

.main-content {
  flex: 1;
  overflow-y: auto;
  box-sizing: border-box;
}
